# URL publica de la Lambda Function URL
# En Amplify Hosting esta variable debe existir al build time.
VITE_API_URL=https://zdcbykbuyc4rsstngj7wirvgd40soanz.lambda-url.us-east-1.on.aws/
VITE_API_PROXY_TARGET=
VITE_LAMBDA_TIMEOUT_MS=45000
VITE_NETWORK_TIMEOUT_MS=30000
VITE_FILE_READ_TIMEOUT_MS=20000
VITE_UPLOAD_TIMEOUT_MS=120000
